@model RavenDB.ViewModels.HomePageViewModel
@using RavenDB.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Hello World</h2>

<ul>
    @Html.DisplayFor(x => x.Users)
</ul>

@Html.EditorFor(x => x.NewUser)

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    @Html.EditorFor(m => m.SearchTerm) 
    <input type="submit" value="Search users" />
}

@if (Model.SearchResults.Any())
{
    <h3>Searxh Results for @Model.SearchTerm</h3>
    @Html.DisplayFor(m => m.SearchResults) 
}
